nav ul li a {
  text-decoration: none;
  color: black;
  margin-left: 4px;
  padding: 5px;
  font-size: 20px;
  background-color: white;
  border: thick double black;
  border-radius: 10px;
  font-weight: bolder;
}
nav ul li a:hover {
  color: rgb(255, 0, 0);
}
tbody {
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}
.tdata {
  height: 46px;
  color: black;
}

.tdata:hover {
  background-color: rgb(71, 71, 71);
  color: rgb(255, 255, 255);
}
td a {
  display: block;
  text-decoration: none !important;
  text-align: center;
  color: rgb(81, 147, 209);
}
td a:hover {
  display: block;
  text-decoration: none !important;
  text-align: center;
  color: rgb(255, 255, 255);
}

td span.contact a {
  color: inherit;
}
td span.contact a:hover {
  color: red;
}
